@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
  --primary: #F9F8F8;
  --secondary: #2A2D3A;
  --green: #66A88C;
  --secondary-light: #7FD1AE;
  --secondary-light-2: #ADE1CA;
  --white: #fff;
  --black: #000000;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: linear-gradient(var(--primary), var(--green));
}

.wrapper { 
  max-width: 400px;
  width: 60%; /* Adjusted width */
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

.link {
  text-align: center;
}

.link a {
    color:  #1a75ff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
