@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #F9F8F8;
  --secondary: #2A2D3A;
  --green: #66A88C;
  --secondary-light: #7FD1AE;
  --secondary-light-2: #ADE1CA;
  --white: #fff;
  --black: #000000;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

/*Navigation bar */ 
.navbar {
  z-index: 3;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--white);
  padding: 0 8%;
  box-shadow: var(--shadow);
}

.navbar-logo {
  cursor: pointer;
}

.navbar-list {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

/*Slide-1 */ 
.Homescreen {
  height: 80vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(var(--primary), var(--green));
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bus_Search {
  margin-top: 80px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.from,
.to,
.date,
.bus_type {
  margin-bottom: 20px;
}

.from i,
.to i {
  font-size: 24px;
  margin-left: 10px;
  color: var(--secondary);
}

input[type=text],
input[type=date],
select {
  width: calc(100% - 40px);
  padding: 15px 15px 15px 40px; /* Adjusted padding */
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
  outline: none;
}

input[type=text]::placeholder,
input[type=date]::placeholder,
select {
  color: var(--secondary-light);
}

input[type=submit] {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: var(--green);
}


/* Searched results*/
.SearchedResults {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
}

.ticket {
  background-color: var(--white);
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  position: relative; /* Added */
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.ticket-info p {
  margin: 5px 0;
}

.date-time, .from-to, .bus-details {
  flex: 1;
  padding: 10px;
}

.date-time p, .from-to p, .bus-details p {
  margin-bottom: 10px;
}

.ticket h2 {
  text-align: center;
  margin-bottom: 20px;
}

.bookingdetails {
  margin: 20px;
}
.bookingdetails select {
  color: var(--secondary);
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 8px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.bookingdetails button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.bookingdetails button:hover {
  background-color: var(--secondary-light);
}


/* FAQs section */
.FAQs h1{
  align-items: center;
  margin: 30px;
}
.FAQs {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;

}

.Question {
  cursor: pointer;
  padding: 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--secondary);
  box-shadow: var(--secondary);
}

.Answer {
  display: none;
  padding: 15px;
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: var(--shadow);
}

.Answer.active {
  display: block;
}





/* Contact section */

#Contact h1 {
  font-size: 36px;
  margin-bottom: 0px;
  color: #fff;
}

.Contact{
  height: 80px;
  background-color:var(--secondary) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact i{
  padding-left: 100px;
  margin: 0 15px;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.Contact i:hover {
  color: #66A88C;
}

/* footer */
footer{
  height: 20px;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  color: var(--secondary);
  background-color: var(--white);
}